@inherits LayoutComponentBase

<head>
    <link href="../css/dct-shipper.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app">
        <div class="nav-bar shadow">
            App logo
        </div>
        <div id="main-content">
            @Body
        </div>
    </div>
</body>
