@inherits LayoutComponentBase
<!DOCTYPE html>
<html>
<head>
    <link href="../css/dct-shipper.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
    <div id="app">
        <div class="nav-bar shadow">
            <a href="/">App logo</a>
        </div>
        <div id="main-content">
            @Body
        </div>
    </div>
</body>
</html>
