@page "/shipper/ho-so-success"
@layout DCTShipperLayout

<link href="../css/ho-so-success.css" rel="stylesheet" defer />
<div class="page-container">
    <div class="success-container">
        <div class="success-form-container">
            <img class="success" src="/img/ho-so-success.png"/>
            <h3>Hồ sơ trực tuyến của bạn đã được lưu lại!</h3>
            <a href="/shipper/khoa-dao-tao" class="button filled" id="next">Tham gia khoá đào tạo</a>
            <a href="/" class="button" id="home">Để sau</a>
        </div>
    </div>

</div>

@code {

}
