@page "/shipper/khoa-dao-tao"
@attribute [Authorize]
@layout DCTShipperLayout

@using DctWebApp.Services
@inject KhoaDaoTaoService KDTService

@using DctApi.Shared.Models

<link href="../css/khoa-dao-tao.css" rel="stylesheet" />
<div class="page-container">
    @if (kdt == null)
    {
        <p>Đang tải...</p>
    }
    else
    {
        <div class="khoa-dao-tao-container">
            <p>@kdt.NoiDung</p>
            <div class="video-container">
                <iframe class="video"
                        src="@kdt.URL"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <p>@kdt.HuongDan</p>
            <button class="button filled" id="#take-test">Làm bài trắc nghiệm đầu vào</button>
            <button class="button" id="back">Quay lại</button>
        </div>
    }
</div>

@code {
    private KhoaDaoTaoEntity kdt;

    protected override async Task OnInitializedAsync()
    {
        kdt = await KDTService.GetKhoaDaoTaoAsync();
    }
}
